name: Verify Custom Infrastructure
on: push

jobs:
  infrastructure-test:
    runs-on: self-hosted
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: 1. Identify Runner OS
        run: |
          echo "--------------------------------"
          echo "REPORTING FROM CUSTOM AGENT:"
          cat /etc/os-release | grep PRETTY_NAME
          echo "--------------------------------"

      - name: 2. Test Docker Socket (Sibling Test)
        run: |
          echo "Attempting to talk to Host Docker Engine..."
          sudo docker version

      - name: 3. Build & Run App (End-to-End)
        run: |
          sudo docker build -t final-test-app:v1 .
          sudo docker run --rm final-test-app:v1
