name: Test Run
on: push

jobs:
  test-connection:
    runs-on: self-hosted
    steps:
      - name: Say Hello
        run: echo "Hello World, this is CentOS Data Center."

      - name: Check OS
        run: cat /etc/os-release

      - name: Check Docker Access
        run: docker ps
