name: Gatekeeper Pipeline
on: 
  push:
    branches : ["main"]
  pull_request:
    branches : ["main"]

jobs:
  validate-code:
    runs-on: self-hosted
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Build Container
        run: sudo docker build -t medical-app:latest .

      - name: Run Unit Tests
        run: |
          echo "Running PyTest..."
          # Override the default command to run 'pytest' instead of 'python main.py'
          sudo docker run --rm medical-app:latest pytest

      - name: Run App (Deploy to Prod)
        run: |
          echo "Tests passed! Deploying to Snowflake..."
          sudo docker run --rm \
            -e SNOWFLAKE_USER='${{ secrets.SNOWFLAKE_USER }}' \
            -e SNOWFLAKE_PASSWORD='${{ secrets.SNOWFLAKE_PASSWORD }}' \
            -e SNOWFLAKE_ACCOUNT='${{ secrets.SNOWFLAKE_ACCOUNT }}' \
            medical-app:latest python main.py
