name: Gatekeeper Pipeline
on: [push, pull_request]

jobs:
  validate-code:
    runs-on: self-hosted
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Build Container
        run: sudo docker build -t medical-app:latest .

      - name: Run Unit Tests
        run: |
          echo "Running PyTest..."
          # Override the default command to run 'pytest' instead of 'python main.py'
          sudo docker run --rm medical-app:latest pytest

      - name: Run App (Only if tests pass)
        run: |
          echo "Tests passed! Starting application..."
          sudo docker run --rm medical-app:latest python main.py
